/* 
* ADA Style: section
*/

section {
}

.intro {
  background-image: url(../img/bg-header.png);
  background-size: cover;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1em;
  flex-direction: column;
  @media (min-width: 640px) {
   flex-direction: row;
  }
  
  & div {
   width: 100%;
   @media (min-width: 640px) {
     width: 50%;
   }
  }
  & p {
    font-size: 18px;
    line-height: 23px;
  }
  & h2 {
    font-size: 38px;
    display: block;
    font-weight: 900;
  }
  & span {
    display: block;
    font-size: 20px;
  }
}
/* 
* DESCRIPTION  ----------------------
*/
.description {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 gap: 1em;
 @media (min-width: 640px) {
   flex-direction: row;
 }
 & img {
   width: 50%;
   margin-inline: auto;
   @media (min-width: 640px) {
     width: 100%;
   }
 }

}
.description-content {
 columns: auto, 1;
 column-gap: .5em;
 @media (min-width: 640px) {
   columns: 300px, 2;
   column-gap: 1em;
 }
}

.gallery {
  display: flex;
  flex-direction: column;
  & img {
    flex-basis: 150px;
  }
}
